<div class="doctor-menu">
    <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/profile-1.png" alt="">
    <div class="d-d-img-box">
        <div class="d-d-box-item">
            <h3>Samuel Daniels</h3>
            <p>Oct 05, 2083, 38 Years</p>
        </div>
    </div>
    <div class="menu-liest">
        <ul class="menu-liest-item">

            <li routerLink="dashboard" routerLinkActive="active"><a ><i class="fa fa-address-card" aria-hidden="true"></i>Dashboard</a></li>
            <li routerLink="favourtite" routerLinkActive="active"> <a ><i class="fa fa-heart" aria-hidden="true"></i>Favourite Doctors</a></li>
            <li routerLink="schedule" routerLinkActive="active"><a ><i class="fa fa-clock-o" aria-hidden="true"></i>Schedule Timing</a></li>
            <li routerLink="myprofile" routerLinkActive="active"><a><i class="fa fa-user-md" aria-hidden="true"></i>My Profile</a></li>
            <li routerLink="changepassword" routerLinkActive="active"><a ><i class="fa fa-unlock-alt" aria-hidden="true"></i>Change Password</a></li>
            <li> <a href="login"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
    
        </ul>
    </div>
</div> 

