<section class="d-d-heder">
  <div class="d-d-backcolor">
    <h1>Book Appointment</h1>
  </div>
</section>

<div class="container h-s-content">
  <h5><a routerLink="/admin">Home </a></h5>
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <h5>Book Appointment</h5>
</div>

<!-- demop -->

<div class="background">
  <div class="r-background">
    <div class="content-box">
      <div class="container">
        <div class="row">

          <div class="col-8">
            <!-- Appointment Information -->

            <div class="Appointment-box2">
              <div class="content-box2">
                <div class="header2">
                  <h2>Appointment Information</h2>
                </div>
                <div class="Appointment-information">
                  <div class="p-book">
                    <p>Are You a New Patient?</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                      </div>
                      <input type="text" class="form-control" aria-label="Text input with checkbox"
                        placeholder="Yes i have seen this doctor before">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                      </div>
                      <input type="text" class="form-control" aria-label="Text input with checkbox"
                        placeholder="No i am a new patient">
                    </div>


                  </div>
                  <div class="p-book">
                    <p>Please Specify Your Sex</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                      </div>
                      <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Male">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                      </div>
                      <input type="text" class="form-control" aria-label="Text input with checkbox"
                        placeholder="Female">
                    </div>


                  </div>
                  <div class="p-book">
                    <p>Your Information:</p>
                    <form>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Your name</label>
                              <input type="text" class="form-control" placeholder="Enter Your name">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Your email</label>
                              <input type="text" class="form-control" placeholder="Enter Your email">
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" placeholder="Enter Address">
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="exampleFormControlSelect1">City</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>City 1</option>
                                <option>City 2</option>
                                <option>City 3</option>
                                <option>City 4</option>
                                <option>City 5</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Zip</label>
                              <input type="text" class="form-control" placeholder="Enter Zip">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="exampleFormControlSelect1">State</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                                <option>State 4</option>
                                <option>State 5</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Birthday</label>
                              <input type="date" class="form-control" placeholder="Enter Birthday">
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Note to the doctor (optional)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="form-group">
                          <label>Name on card</label>
                          <input type="text" class="form-control" placeholder="Enter Name on card">
                          <div class="card-logo">
                            <div class="form-group">
                              <label>Card number</label>
                              <input type="text" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx">
                            </div>
                            <div class="card-logo">
                              <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/card-1.png" alt="">
                              <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/card-2.png" alt="">
                              <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/card-3.png" alt="">
                              <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/card-4.png" alt="">
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label>Expiration date</label>
                            <input type="text" class="form-control" placeholder="MM/YY">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label>Security code</label>
                            <input type="text" class="form-control" placeholder="CCV">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                          </div>
                          <input type="text" class="form-control" aria-label="Text input with checkbox"
                            placeholder="I accept terms and conditions and general policy">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <!-- Booking Summary -->

            <div class="Appointment-box2">
              <div class="content-box2">
                <div class="header2">
                  <h2>Booking Summary</h2>
                </div>
              </div>
              <div class="Booking-Summary-item" *ngFor="let item of showdata">
                <ul class="item-liest-1">
                  <li>Date</li>
                  <li>Time</li>
                  <li>Doctor name</li>
                </ul>
                <ul class="item-liest-2">
                  <li>{{item.date}}</li>
                  <li>{{item.tiem}}</li>
                  <li>Dr. Rex Allen</li>

                </ul>

              </div>

              <div class="Booking-Summary-item">
                <ul class="item-liest-1">
                  <li>General Consultation</li>
                  <li>Back Pain</li>
                </ul>
                <ul class="item-liest-2">
                  <li>$50</li>
                  <li>$60</li>
                </ul>
              </div>
              <div class="Booking-Summary-item">
                <ul class="item-liest-1">
                  <li class="total">Total</li>
                </ul>
                <ul class="item-liest-2">
                  <li class="total-amount">$110</li>
                </ul>
                <div class="button-comfirm-and-pay">

                </div>

              </div>
              <button type="button" class="btn btn-primary joinnow">Comfirm and Pay</button>
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- footer-->
    <section class="footer-section">
      <div class="container">
        <div class="footer-list-item">
          <div class="row">
            <div class="col-md-3 ">
              <ul class="f-content">
                <li>
                  <img src="http://azim.commonsupport.com/Docpro/assets/images/footer-logo.png" alt="">
                </li>
                <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing .</p>
              </ul>
            </div>
            <div class="col-md-3 ">
              <ul class="f-content">
                <h1>about</h1>
                <li>About Us</li>
                <li>Listing</li>
                <li>How It Works</li>
                <li>Our Services</li>
                <li>Our Blog</li>
                <li>Contact Us</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="f-content">
                <h1>Useful Links</h1>
                <li>Specialist</li>
                <li>Clinic</li>
                <li>Hospital</li>
                <li>Download App</li>
                <li>Join as a Doctor</li>
                <li>Privacy Policy</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="f-content">
                <h1>Contacts</h1>
                <div class="footer-l-icon"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Flat 20,
                    Reynolds
                    Neck, North Helenaville, FV77 8WS</span></div>
                <div class="footer-r-icon"><i class="fa fa-microphone" aria-hidden="true"></i><a
                    href="+(91)9952123241">+(91)9952123241</a></div>
                <div class="footer-e-icon"><i class="fa fa-envelope" aria-hidden="true"></i><a
                    mailto:href="">info@example.com</a></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>