
<div class="password">
    <h3>Appointment Lists</h3>
 
    <div class="appoin-box">
        <div class="appoin-item">
            <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/appointment-1.jpg" alt="">
        </div>
        <div class="appoin-item-2">
            <h4>Mary Astor</h4>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>15 Oct 2020, 09:30AM</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            <p><i class="fa fa-tint" aria-hidden="true"></i>Cardiology Test, Diabetic Diagnose</p>
            <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i>anna@example.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+(22) 65_458_856</p>
        </div>
        <div class="appoin-buuton">
            <button type="submit" class=" submit-button"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
            <button type="submit" class=" cancel-button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>

        </div>
    </div>


    <div class="appoin-box">
        <div class="appoin-item">
            <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/appointment-2.jpg" alt="">
        </div>
        <div class="appoin-item-2">
            <h4>Rex Allen</h4>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>15 Oct 2020, 09:30AM</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            <p><i class="fa fa-tint" aria-hidden="true"></i>Cardiology Test, Diabetic Diagnose</p>
            <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i>anna@example.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+(22) 65_458_856</p>
        </div>
        <div class="appoin-buuton">
            <button type="submit" class=" submit-button"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
            <button type="submit" class=" cancel-button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>

        </div>
    </div>


    <div class="appoin-box">
        <div class="appoin-item">
            <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/appointment-3.jpg" alt="">
        </div>
        <div class="appoin-item-2">
            <h4>Leroy Anderson</h4>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>15 Oct 2020, 09:30AM</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            <p><i class="fa fa-tint" aria-hidden="true"></i>Cardiology Test, Diabetic Diagnose</p>
            <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i>anna@example.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+(22) 65_458_856</p>
        </div>
        <div class="appoin-buuton">
            <button type="submit" class=" submit-button"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
            <button type="submit" class=" cancel-button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>

        </div>
    </div>


    <div class="appoin-box">
        <div class="appoin-item">
            <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/appointment-4.jpg" alt="">
        </div>
        <div class="appoin-item-2">
            <h4>Julia Jhones</h4>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>15 Oct 2020, 09:30AM</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            <p><i class="fa fa-tint" aria-hidden="true"></i>Cardiology Test, Diabetic Diagnose</p>
            <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i>anna@example.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+(22) 65_458_856</p>
        </div>
        <div class="appoin-buuton">
            <button type="submit" class=" submit-button"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
            <button type="submit" class=" cancel-button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>

        </div>
    </div>


    <div class="appoin-box">
        <div class="appoin-item">
            <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/appointment-5.jpg" alt="">
        </div>
        <div class="appoin-item-2">
            <h4>Terry Bradshaw</h4>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>15 Oct 2020, 09:30AM</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            <p><i class="fa fa-tint" aria-hidden="true"></i>Cardiology Test, Diabetic Diagnose</p>
            <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i>anna@example.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+(22) 65_458_856</p>
        </div>
        <div class="appoin-buuton">
            <button type="submit" class=" submit-button"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
            <button type="submit" class=" cancel-button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>

        </div>
    </div>


    <div class="appoin-box">
        <div class="appoin-item">
            <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/appointment-6.jpg" alt="">
        </div>
        <div class="appoin-item-2">
            <h4>Amelia Anna</h4>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i>15 Oct 2020, 09:30AM</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            <p><i class="fa fa-tint" aria-hidden="true"></i>Cardiology Test, Diabetic Diagnose</p>
            <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i>anna@example.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>+(22) 65_458_856</p>
        </div>
        <div class="appoin-buuton">
            <button type="submit" class=" submit-button"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
            <button type="submit" class=" cancel-button"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>

        </div>
    </div>




<ul class="pagination">
    <li><a href="" class="current">1</a></li>
    <li><a href="" class="current">2</a></li>
    <li><a href="" class="current">3</a></li>
    <li><a href="" class="current"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
</ul>

</div>