<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <div class="p-f-img">
            <img class="card-img-top" src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-22.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Dr. Rex Allen<i class="fa fa-check-circle-o" aria-hidden="true"></i></h5>
            <p class="card-text">MDS - Periodontology and BDS</p>
            <div class="str">
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <h4 class="text28">(28)</h4>
            </div>
            <div class="p-f-map">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            </div>
            <a href="RexAllen"  class="booknow-button">Book Now</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="p-f-img">
            <img class="card-img-top" src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-21.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Dr. Mary Astor<i class="fa fa-check-circle-o" aria-hidden="true"></i></h5>
            <p class="card-text">MDS - Periodontology and BDS</p>
            <div class="str">
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <h4 class="text28">(28)</h4>
            </div>
            <div class="p-f-map">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            </div>
            <a class="booknow-button">Book Now</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="p-f-img">
            <img class="card-img-top" src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-23.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Dr. Julia Jhones<i class="fa fa-check-circle-o" aria-hidden="true"></i></h5>
            <p class="card-text">MDS - Periodontology and BDS</p>
            <div class="str">
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <i class="fa fa-star p-f-str-item" aria-hidden="true"></i>
                <h4 class="text28">(28)</h4>
            </div>
            <div class="p-f-map">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>G87P, Birmingham, UK</p>
            </div>
            <a class="booknow-button">Book Now</a>
        </div>
    </div>
</div>