<div class="password">
    <h3>Change Password</h3>
       


    <form class="formbg">
        <div class="form-group">
            <label for="exampleInputEmail1">Old Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control">
        </div>
        <button type="submit" class=" submit-button">Save Change<i class="fa fa-arrow-right"></i></button>
        <button type="reset" class=" cancel-button">Cancel</button>

    </form>
</div> 

