<div class="bgbox">
  <div class="d-p-box">
    <img class="img" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-1.png" alt="">
  </div>
  <img class="d-p-image" src="http://azim.commonsupport.com/Docpro/assets/images/logo.png" alt="">

</div>
<div class="button">
  <div class="dropdown">
    <button class="dropbtn">Home</button>
    <div class="dropdown-content home">
      <a href="#">Home 01 </a>
      <a href="#">Home 02 </a>
    </div>
  </div>
</div>
<div class="button">
  <div class="dropdown">
    <button class="dropbtndoctors">Doctors</button>
    <div class="dropdown-content doctors">
      <a href="dashbord/dr-information">Dashboard</a>
      <a href="JuliaJhones">Dr. Julia Jhones</a>
      <a href="MaryAstor">Dr. Mary Astor</a>
      <a href="RexAllen">Dr. Rex. Allen</a>
      <a href="StellaAdler">Dr. Stella Adler</a>
      <a href="register">Register Page</a>
      
    </div>
  </div>
</div>
<div class="button">
  <div class="dropdown">
    <button class="dropbtnParients">Parients</button>
    <div class="dropdown-content Parients">
      <a href="Parients/dashboard">Patient </a>
      <a href="submitreview">Submit Review</a>
    </div>
  </div>
</div>
<div class="button">
  <div class="dropdown">
    <button class="dropbtnnew">News</button>
    <div class="dropdown-content news">
      <a href="blogjrid">Biog Grid 01</a>
      <a href="standard">Blog Standard</a>

    </div>
  </div>

</div>

<button (click)="register()" type="button" class="btn btn-primary joinnow"><i class="fa fa-plus" aria-hidden="true"></i>Join
  Now</button>

<div class="boutton">
  <button type="button" routerLink="/register" class="btn btn-light sign">Sign in</button>
  <button type="button" routerLink="/career" class="btn btn-light Career">Career</button>
  <button type="button" routerLink="/contact" class="btn btn-light Contact">Contact</button>
  <button type="button" routerLink="/login" class="btn btn-light Contact">Logout</button>
</div>

<!-- herow -->
<div class="herow">
  <img src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-2.png" alt="">
</div>
<img class="vicktoe" src="http://azim.commonsupport.com/Docpro/assets/images/banner/banner-image-1.png" alt="">
<div class="herowtext">
  <h1>Find Nearest</h1>
  <h1>Doctor.</h1>
  <p>Amet consectetur adipisicing elit sed do eiusmod.</p>

  <input class="search" placeholder="Ex. Name,Specialization..." type="text">
  <button type="button" class="btn  arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
</div>
<!-- logo img -->
<div class="logobg">
  <div class="backimg">
    <img src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-3.png" alt="">
    <img class="img2" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-4.png" alt="">
  </div>
  <div class="logoname">
    <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-1.png" alt=""></div>
    <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-2.png" alt=""></div>
    <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-3.png" alt=""></div>
    <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-4.png" alt=""></div>
    <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-5.png" alt=""></div>
    <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-1.png" alt=""></div>

  </div>
</div>
<!-- appointmen -->
<div class="appointmen">

  <img class="appointmen-img" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-14.png" alt="">
  <img class="appointmen-img2" src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-13.png" alt="">
  <div class="card-deck appointmencard">
    <div class="cardbg">
      <div class="carditem">
        <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-1.png" alt="">
        <p>Appointment With</p>
        <h5>Nearest Clinic</h5>
        <button type="button" class="btn click"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="cardbg">
      <div class="carditem">
        <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-2.png" alt="">
        <p class="live">Live Chat With</p>
        <h5 class="doctor">Doctor</h5>
        <button type="button" style="background: #39cabb" class="btn click"><i class="fa fa-arrow-right"
            aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="cardbg">
      <div class="carditem">
        <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-3.png" alt="">
        <p class="appoinment">Appoinment With Top</p>
        <h5 class="nearest">Nearest Clinic</h5>
        <button type="button" style="background: #ffab01" class="btn click"><i class="fa fa-arrow-right"
            aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="cardbg">
      <div class="carditem">
        <img src="	http://azim.commonsupport.com/Docpro/assets/images/icons/icon-4.png" alt="">
        <p class="active">24/7 Active Support</p>
        <h5 class="help">Help Support</h5>
        <button type="button" style="background: #01b4d9" class="btn click"><i class="fa fa-arrow-right"
            aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- about Page -->
<div class="about-section">
  <div class="container">
    <div class="row aboutrow">
      <div class="col-md-6">
        <div class="pattern">
          <div class="pattern-1"><img src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-15.png"
              alt=""></div>
          <div class="pattern-2"></div>
        </div>
        <div class="image clearfix">
          <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/about-1.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="name-content">
          <div class="a-name">
            <h5>ABOUT DOCPRO</h5>
            <h1>Bring care to your home with one click</h1>
            <div class="p-text">
              <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod ex tempor incididunt labore dolore
                magna aliquaenim ad minim veniam quis nostrud exercitation ullamco laboris.</p>
            </div>
            <ul class="li-style">
              <li><i class="fa fa-circle-thin" aria-hidden="true"></i>Associates Insurance</li>
              <li><i class="fa fa-circle-thin" aria-hidden="true"></i>Pina & Insurance</li>
            </ul>
            <div class="btn-box">
              <button>About Us &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- process -->
<section class="process-section">

  <img class="process-img-1" src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-19.png " alt="">
  <img class="process-img-2" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-17.png " alt="">
  <img class="process-img-3" src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-18.png " alt="">
  <div class="process-header">
    <p>PROCESS</p>
    <h2>Appointment Process</h2>
  </div>
  <div class="process-inner-content">
    <div class="row p-i-c-row">
      <div class="col-md-4 p-i-c-col" *ngFor="let item of process"
        [ngStyle]="{'border':item.border === 'show' ? 'block' : 'none'}">
        <div class="container">
          <div class="p-i-content-box">
            <div class="p-i-c-image">
              <img src="{{item.image}}" alt="">
              <span>{{item.num}}</span>
            </div>
            <div class="p-i-c-name">
              <h2>{{item.name}}</h2>
            </div>
            <div class="p-i-c-description">
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<div class="row trsrimonials">
  <div class="col-6">
    <img class="img-trsrimonials1" src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-2.png" alt="">
  </div>
  <div class="col-6">
    <img class="img-trsrimonials2"
      src="http://azim.commonsupport.com/Docpro/assets/images/background/testimonial-1.jpg " alt="">
  </div>
  <div class="trsrimonials-box">
    <h6>TESTIMONIALS</h6>
    <h1 class="what">What client's say?</h1>
    <p>“ Lorem ipsum dolor sit amet consectetur adipic eksed do eiusmod tempor incid unt labore dolore magna
      Aliqua.enim minim veniam, quis nostrud. “</p>
    <div class="user-img">
      <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/testimonial-1.png" alt="">
      <p class="p1">Amelia Anna</p>
      <p class="p2">Amelia Anna</p>
    </div>
    <div class="button-img">
      <img src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-21.png" alt="">
    </div>
    <button class="left-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
    <button class="right-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
  </div>
</div>


<!-- MEET OUR PROFESSIONALS -->

<h4 class="meet">MEET OUR PROFESSIONALS</h4>
<h1 class="top">Top Rated Specialists</h1>

<div class="card-deck meet1">
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-1.jpg" alt="">
      <h2>Dr. Julia Jhones</h2>
      <h3>MBBS, MS - General Surgery, MCh</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="http://azim.commonsupport.com/Docpro/assets/images/team/team-2.jpg" alt="">
      <h2>Dr. Mary Astor
      </h2>
      <h3>MDS - Periodontology and BDS</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
</div>

<div class="card-deck meet2">
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-3.jpg" alt="">
      <h2>Dr. Rex Allen
      </h2>
      <h3>BDS, MDS - Maxillofacial Surgery</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="http://azim.commonsupport.com/Docpro/assets/images/team/team-4.jpg" alt="">
      <h2>Dr. Stella Adler

      </h2>
      <h3>MDS - Periodontology and BDS</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
</div>

<!-- meet profetional -->
<div class="profetional-section">
  <img class="profetional-pattern-1" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-27.png" alt="">
  <img class="profetional-pattern-2" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-28.png" alt="">
  <img class="profetional-pattern-3" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-29.png" alt="">

  <div class="profetional-header">
    <h5>MEET OUR PROFESSIONALS</h5>
    <h1>Search for other doctors</h1>
  </div>

  <div class="profetional-card">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="profetional-inner-box">
            <div class="container">
              <div class="p-card-content">
                <h3>
                  Browse <br>by Speciality
                </h3>
                <ul class="p-card-item">
                  <li><a href="">Cardiology</a></li>
                  <li><a href="">Dermatology</a></li>
                  <li><a href="">Family Medicine</a></li>
                  <li><a href="">Obstetrics & Gynecology</a></li>
                  <li><a href="">Oncology</a></li>
                  <li><a href="">Orthopedic Surgery</a></li>
                </ul>
                <div class="profetional-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="profetional-inner-box">
            <div class="container">
              <div class="p-card-content">
                <h3>
                  Browse <br>by Condition
                </h3>
                <ul class="p-card-item">
                  <li><a href="">Breast Cancer</a></li>
                  <li><a href="">Dementia</a></li>
                  <li><a href="">Endometriosis</a></li>
                  <li><a href="">Multiple Sclerosis (MS)</a></li>
                  <li><a href="">Fibromyalgia</a></li>
                  <li><a href="">Parkinson's Disease</a></li>
                </ul>
                <div class="profetional-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="profetional-inner-box">
            <div class="container">
              <div class="p-card-content">
                <h3>
                  Browse <br>by Procedure
                </h3>
                <ul class="p-card-item">
                  <li><a href="">ACL Surgery</a></li>
                  <li><a href="">EEG (Electroencephalogram)</a></li>
                  <li><a href="">Hysterectomy</a></li>
                  <li><a href="">Knee Replacement</a></li>
                  <li><a href="">Multiple Sclerosis Therapy</a></li>
                  <li><a href="">Prostate Removal</a></li>
                </ul>
                <div class="profetional-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










<!-- <app-appdownload></app-appdownload> -->
<app-footer></app-footer>
<router-outlet> </router-outlet>
<app-appdownload></app-appdownload>