<!-- aap Download -->

<div class="app-bg">
    <img class=app-img-1 src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-19.png" alt="">
    <img class=app-img-2 src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-17.png" alt="">
    <img class=app-img-3 src="	http://azim.commonsupport.com/Docpro/assets/images/resource/phone-1.png" alt="">
    <h3 class="downloadapp">
      DOWNLOAD APPS</h3>
    <h1 class="for">For Better Test</h1>
    <h1 class="mobil">Download Mobile App</h1>
    <div class="app-button">
      <i class="fa fa-apple" aria-hidden="true"></i>
      <h4 class="downloadon">Download On</h4>
      <h2 class="apppstroe">APP Store</h2>
    </div>
    <div class="app-button1">
      <i class="fa fa-android" aria-hidden="true"></i>
      <h4 class="downloadon1">Download On</h4>
      <h2 class="apppstroe1">Google Play</h2>
    </div>
  </div>
    